<ion-view title="Handyman 1Stop Service">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/IMP2SvXRKORE3ld42kVH_images.jpeg) no-repeat center;" class="has-header has-footer">
        <ion-list></ion-list>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <ion-list>
            <ion-item href="#/side-menu21/page7">Browse Services</ion-item>
            <ion-item href="#/side-menu21/page8">Post Service Enquiry</ion-item>
            <ion-item href="#/side-menu21/page9">View Service History</ion-item>
        </ion-list>
    </ion-content>
</ion-view>